In [7]:
from closestRecipe import ClosestRecipe
import pandas as pd

In [8]:
cr = ClosestRecipe()

In [9]:
cr.recipe_rank_zip('30082')

,avg_dist,recipe,uid_recipe_title
0,1.906704,Green Bean Salad with Radishes and Prosciutto,63
1,1.906704,Ambrosia,72
2,1.906704,"Spinach Salad with Bosc Pears, Cranberries, Re...",81
3,1.906704,Pope,103
4,1.906704,Orange Gin Fizz,209
...,...,...,...
13909,728.195304,"Crispy Brown Rice ""Kabbouleh""",15315
13910,728.195304,Potato and Kale Cakes with Rouille,15628
13911,728.195304,Beans with Kale and Portuguese Sausage,16028
13912,728.195304,"Smoked Sausage, Kale and Potato Soup",16536
13913,728.195304,"White Bean, Butternut Squash, Kale and Olive S...",16772

In [10]:
lat_long = cr.zip_lookup_lat_long('30082')
print(lat_long)
average_recipe_distance_by_lat_long = cr.recipe_rank_avg_lat_long(lat_long)
print(average_recipe_distance_by_lat_long)

(33.8631, -84.5382)
[(86.78924486381766,)]

In [11]:
cr.recipe_rank_ings_zip('30082')

,uid_lat_long,distance,uid_recipe_ings,lat,long,recipe_ingredients,uid_recipe_title
0,796,5,265,33.939940,-84.574166,créme de cacao,4
1,796,5,265,33.939940,-84.574166,créme de cacao,1304
2,796,5,265,33.939940,-84.574166,créme de cacao,1342
3,796,5,265,33.939940,-84.574166,créme de cacao,1480
4,796,5,265,33.939940,-84.574166,créme de cacao,1949
...,...,...,...,...,...,...,...
67410,5698,47,91,34.263677,-85.213730,whole wheat,16278
67411,5698,47,91,34.263677,-85.213730,whole wheat,16280
67412,5698,47,91,34.263677,-85.213730,whole wheat,16624
67413,5698,47,91,34.263677,-85.213730,whole wheat,16777
67414,5698,47,91,34.263677,-85.213730,whole wheat,16978

In [12]:
pd.merge(cr.recipe_rank_zip('30082'), cr.recipe_rank_ings_zip('30082'), on='uid_recipe_title')

,avg_dist,recipe,uid_recipe_title,uid_lat_long,distance,uid_recipe_ings,lat,long,recipe_ingredients
0,1.906704,Green Bean Salad with Radishes and Prosciutto,63,796,5,159,33.939940,-84.574166,radish
1,1.906704,Green Bean Salad with Radishes and Prosciutto,63,796,5,78,33.939940,-84.574166,prosciutto
2,1.906704,Green Bean Salad with Radishes and Prosciutto,63,1199,65,140,34.069515,-85.654242,green bean
3,1.906704,Ambrosia,72,6386,379,186,31.535216,-90.453566,orange
4,1.906704,Ambrosia,72,6386,379,225,31.535216,-90.453566,grape
...,...,...,...,...,...,...,...,...,...
56817,728.195304,"White Bean, Butternut Squash, Kale and Olive S...",16772,797,6,201,33.790034,-84.468182,olive
56818,728.195304,"White Bean, Butternut Squash, Kale and Olive S...",16772,5132,51,62,34.317588,-83.818497,bean
56819,728.195304,"White Bean, Butternut Squash, Kale and Olive S...",16772,1941,1,16,33.883266,-84.515511,kale
56820,728.195304,"White Bean, Butternut Squash, Kale and Olive S...",16772,5700,87,115,34.852424,-85.506201,bell pepper
56821,728.195304,"White Bean, Butternut Squash, Kale and Olive S...",16772,479,127,126,32.597229,-86.142739,vegetable