In [1]:
from closestRecipe import ClosestRecipe
import sqlite3

In [2]:
# our closest recipe rank object for running queries
cr = ClosestRecipe()

unable to open database file

In [3]:
cr.recipe_rank_zip('30082')

         avg_dist                                     recipe  uid_recipe_title
0        1.906704                   Fennel and Orange Salad                 32
1        1.906704                 Coconut Green Curry Sauce                112
2        1.906704                     To Zest Citrus Fruits                196
3        1.906704                     Ceciarchiata Taiglach                345
4        1.906704  Walnut and Almond Cake with Orange Syrup                633
...           ...                                        ...               ...
15061  694.032305                      Grilled Cheese Tacos              14182
15062  694.032305            Avocado and Smoked Salmon Soup              14818
15063  694.032305             Avocado-Alfalfa Turkey Burger              15687
15064  694.032305                              Turkey Torta              16453
15065  694.032305        Egg and Avocado Breakfast Sandwich              17283

[15066 rows x 3 columns]

In [4]:
cr.recipe_rank_ings_zip('30082')

,uid_lat_long,distance,uid_recipe_ings,lat,long,recipe_ingredients,uid_recipe_title
0,5860,87,11,32.808844,-83.694193,oregano,11
1,5860,87,11,32.808844,-83.694193,oregano,147
2,5860,87,11,32.808844,-83.694193,oregano,427
3,5860,87,11,32.808844,-83.694193,oregano,1341
4,5860,87,11,32.808844,-83.694193,oregano,1368
...,...,...,...,...,...,...,...
69460,1329,359,27,36.386387,-78.965471,brown rice,16345
69461,1329,359,27,36.386387,-78.965471,brown rice,16398
69462,1329,359,27,36.386387,-78.965471,brown rice,16774
69463,1329,359,27,36.386387,-78.965471,brown rice,16774
69464,1329,359,27,36.386387,-78.965471,brown rice,17435

In [7]:
lat, long = cr.zip_lookup_lat_long('30082')
cr.recipe_rank_avg_lat_long(lat, long)

'function' object has no attribute 'lat_long'

OperationalError: user-defined function raised exception

In [263]:
closest_recipes = ''
def callback(wdgt):
    zip_ = wdgt.value
    closest_recipes = 
    print(zip_)

text=widgets.Text(
    value='',
    placeholder='30082',
    description='Zip:',
    disabled=False
)

display(text)
text.on_submit(callback)

Text(value='', description='Zip:', placeholder='30082')

In [ ]:
cr.