In [ ]:
from selenium import webdriver



driver = webdriver.Firefox(executable_path = '/Applications/WebScraping/geckodriver')
driver.get("https://www.gardeningchannel.com/list-of-herbs-from-a-to-z/")
p_element = driver.find_elements_by_tag_name('strong')

In [9]:
body = p_element.text

In [ ]:
import re
regex = re.compile("^[^\(]+")

herbs = []
for item in p_element:
    herbs.append(re.findall(regex, item.text.lower())[0].split('/')[0].split('-')[0])

In [82]:
import pandas as pd
herb_df = pd.DataFrame(herbs)

           0
0  aloe vera
1  angelica
2      anise
3     aralia
4     arnika

In [84]:
herb_df.to_csv('Herb_list.csv')

In [89]:
driver.quit()